<!DOCTYPE html>
<html>
    <head>
        <title> Hand-in-Hand </title>

        <body>
            {% block header %}
            <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

            <!-- Links to personal pages for the current user -->
            <div class="header">
                <form action="/home/timeline">
                    <input class="page_link" type="submit" value="Timeline">
                </form>
                <form action="/home/friends">
                    <input class="page_link" type="submit" value="Friends">
                </form>
                <form action="/home/account">
                    <input class="page_link" type="submit" value="Account">
                </form>
            </div>
            {% endblock %}

            <section id="content_region"> 
                {% block content %} {% endblock %}
            </section>
        </body>
    </head>
</html>