<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        Hand-in-Hand - sign up
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body>    
    <section class="default_access_heading"> 
        <h1 class="logo">
            <a href="/" style=" text-decoration:none;
                                color:teal;">Hand-in-Hand</a>
        </h1>
    </section>

    <form action="/validate_credentials" method="post">
        <section class="default_panel">
            <section style="font-size: 30px;
                            color: white;
                            text-align: center;">
                Sign Up
            </section> 

            <hr>
            
            <section class="sign_up">
                <input style="width: 21%;" required type="text" name="first_name" placeholder="First Name" pattern=".{,1024}">
                <input style="width: 21%;" type="text" name="middle_name" placeholder="Middle Name" pattern=".{,1024}">
                <input style="width: 21%;" required type="text" name="last_name" placeholder="Last Name" pattern=".{,1024}">
                {% if uniqueness_flag %}
                    <input style="border-color: red;" type="text" required name="username" placeholder="Username" pattern=".{,1024}">
                    <input style="border-color: red;" type="email" required name="email" placeholder="Email" pattern=".{,1024}">
                    <section style="color: red;font-size: 15px;">
                        The selected username has already been claimed and/or the provided email has already been registered. Please modify one or more of the aforementioned fields.
                    </section>
                {% else %}
                    <input type="text" required name="username" placeholder="Username" pattern=".{,1024}">
                    <input type="email" required name="email" placeholder="Email" pattern=".{,1024}">
                {% endif %}
                <input style="width: 30%;" type="password" name="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W\D).{15,1024}">
                {% if password_input_flag %}
                    <input style="width: 30%;border-color: red;" type="password" name="password_confirmation" placeholder="Password Confirmation" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W\D).{15,1024}"> 
                    <section style="color: red;font-size: 15px;">
                        Password fields must match.
                    </section>
                {% else %}
                    <input style="width: 30%;" type="password" name="password_confirmation" placeholder="Password Confirmation" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W\D).{15,1024}"> 
                {% endif %} </br> </br>
                <button class="sign_up_button" type="submit">
                    Sign Up
                </button> </br>
            </section>

        </section>
    </form>

    <footer>
        Mississippi State University | CSE 4214: Introduction to Software Engineering | Group 11 </br>
        <a href="mailto:cse.4212.group.11@gmail.com">cse.4212.group.11@gmail.com</a>
    </footer>
</body>