{% extends 'navigation_overlay.html' %}
{% block user_account_image %}
    <a href="/home/account">
        <img class="user_account_image" src="/static/default_user_account_icon.png" width="48px" height="48px" title="User Account">
    </a>
{% endblock %}
{% block body %}
{% set ns = namespace(messages="") %}
{% for message in get_flashed_messages() %}
    <!-- Only get one message -->
    {% if ns.messages == "" %} 
        {% set ns.messages = ns.messages + message %}
    {% endif %}
{% endfor %}
<script>
    function display_flashes() {
        if ({{ ns.messages|tojson }}) { alert({{ ns.messages|tojson }}); }
    }
    display_flashes();
</script>

    <style>
        .create_post_container
            {
                box-shadow: 2px 2px 4px black;
            }
    </style>

    <!--Edit Post Prompt-->
    <section id="overlay" style=   "position: fixed;
                                                    display: block;
                                                    width: 100%;
                                                    height: 100%;
                                                    top: 0;
                                                    left: 0;
                                                    right: 0;
                                                    bottom: 0;
                                                    background-color: rgba(0,0,0,0.95);
                                                    z-index: +6;
                                                    cursor: pointer;">
        <section class="create_post_container">

            <section style="text-align: center;
                            font-weight: bolder;
                            font-size: large;">
                Edit Status

                <br/> <hr>
            </section>

            <form form class="submit_edit" name="submit_edit" id="submit_edit" action='/home/timeline/edit_post/{{ post_to_edit_id }}' method="post" enctype="multipart/form-data">
                <!--Source: https://stackoverflow.com/questions/40887210/how-to-change-choose-file-or-browse-button-text-and-no-file-selected-text-->
                <section class="file">
                    <label for="file-input">
                        <img class="photo_icon" src="/static/photo_icon.png" title="Add Media" width="40px" height="40px">
                    </label>

                    <input type="file" id="edit_file" onchange="previewFile();" class="file-input" name="edit_media" id="edit_media" accept="image/*, video/*">

                    <section class="file_preview">
                        <img class="file_preview_img" id="edit_file_preview_img" src="">
                        <video class="file_preview_vid" id="edit_file_preview_vid" src=""></video>
                    </section>
                </section>

                <!--Source: https://stackoverflow.com/questions/16500848/how-to-generate-a-thumbnail-image-after-adding-an-image-inside-an-input-type-fi-->
                <script>
                    function previewFile() 
                    {
                        var preview_img = document.getElementById('edit_file_preview_img');
                        var preview_vid = document.getElementById('edit_file_preview_vid');
				var file    = document.getElementById('edit_file').files[0];
                        var reader  = new FileReader();

                        reader.onloadend = function () 
                        {
                            preview_img.src = reader.result;
                            preview_vid.src = reader.result;
                        }

                        if (file) 
                        {
                            reader.readAsDataURL(file);
                        } 
                        else 
                        {
                            preview_img.src = "";
                            preview_vid.src = "";
                        }
                    }
                </script>
            </form>

            <textarea rows="12" cols="72" wrap="soft" style=   "position: absolute;
                                                                overflow: auto;
                                                                resize: none;
                                                                background-color: rgb(206, 206, 206);
                                                                text-decoration: none;"
                                                                                            placeholder="What's on your mind?" form="submit_edit" oninput="count_chars()" title="Status Content" name="edit_text" id="edit_text_box"></textarea> <br/>
            
            

            <section class="char_counter" id="edit_char_counter">
                0 / 1024
            </section>

            <script>
                // Check the post and submit if valid
                function verify_post() 
                {
                    document.getElementById("edit_text_box").click()
                    let text = document.getElementById("edit_text_box").value;
                    let num_chars = text.length;
                    if (num_chars == 0 || num_chars > 1024) {
                        alert("Invalid number of characters in post");
                        return;
                    }
                    else if ((text.match(/\n/g) || []).length > 10) {
                        alert("Too many line breaks in post");
                        return;
                    }
                    else if (text && !text.trim()) {
                        alert("Post must contain more than whitespace");
                        return;
                    }

                    document.forms["submit_edit"].submit();
                }
            </script>

            <script type="text/javascript">
                // Display the number of characters used in the post
                function count_chars() {
                    let text = document.getElementById("edit_text_box").value;
                    let num_chars = text.length;
        
                    document.getElementById("edit_char_counter").innerHTML = num_chars + " / 1024";
        
                    if (num_chars > 0 && num_chars <= 1024) {
                        document.getElementById("edit_submit_button").style.backgroundColor = "#008080";
                    }
                    else {
                        document.getElementById("edit_submit_button").style.backgroundColor = "#00808080";
                    }
                }
            </script>
                                                                                            
            <section class="close_button" onclick="off()" title="Cancel Status">
    			<a href='/home/timeline' style="text-decoration: none; color: black;">
        			&times;
    			</a>
            </section title="Attach video or images">
                                                                                                                            <section class="add_attribute_message">
                Add to your post
            </section>
            
            <section class="create_post_container_submit_button">
                <input type="submit" class="post_submit_button" style="left: 45%;
                                                                        bottom: 0%;
                                                                        position: absolute;" 
                                                                                                value="Post" id="edit_submit_button" name="post_submit_button" title="Submit Status" onclick="verify_post()">
            </section>

        </section>

    </section>

{% endblock %}