<style> .page_content { color: white; } </style>

{% extends 'foreign_account.html' %}
{% block account_body %}
<div class="page_content">
    <!-- Remove these breaks and adjust the div below as needed  -->
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br>

    <!-- display a box (right now just a button) indicating a friend request has been sent -->
    {% if pending_request %}
        <button> Friend request pending </button>

    <!-- display a button to send a friend request -->
    {% else %}
        <form action="{{ url_for('modify_relationship', username = foreign_user.username) }}" method="POST">
            <input type="hidden" name="new_relationship_type" value="SENT_REQUEST">
            <input type="submit" value="Send friend request">
        </form>
    {% endif %}

    <div> You can only view {{ foreign_user.username }}'s account if you are friends </div>
</div>
{% endblock %}