<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        Hand-in-Hand - forgot credentials
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body>    
    <section class="default_access_heading"> 
        <h1 class="logo">
            <a href="/" style=" text-decoration:none;
                                color:teal;">Hand-in-Hand</a>
        </h1>
    </section>

    <form action="/account_retrival" method="post">
        <section class="default_panel">
            <section style="font-size: 30px;
                            color: white;
                            text-align: center;">
                Find Your Account
            </section> 

            <hr>
            
            <section style="color: white;font-size: 17px;text-align: left;">
                Please enter either your <i>username</i> or a combination of your <i>password</i> and <i>email</i> to search for your account. </br> </br>
            </section>

            <section class="sign_up">
                {% if forgot_credential_invalid_field_value_status %}
                    <input style="border-color: red;" type="text" name="username" placeholder="Username" pattern=".{,1024}">
                    <input style="width: 30%;border-color: red;" type="email" name="email" placeholder="Email" pattern=".{,1024}">
                    <input style="width: 30%;border-color: red;" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W\D).{15,1024}"> </br> </br>
                    <section style="color: red;font-size: 15px;">
                        One or more of the fields are invalid. Please try again.
                    </section>
                {% else %}
                    <input type="text" name="username" placeholder="Username" pattern=".{,1024}">
                    <input style="width: 30%;" type="email" name="email" placeholder="Email" pattern=".{,1024}">
                    <input style="width: 30%;" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W\D).{15,1024}"> </br> </br>
                {% endif %}

                <hr> </br>

                <section class="forgot_credentials_buttons">
                    <a class="cancel_button" href="/">Cancel</a>
                    <button class="search_button" type="submit">
                        Search
                    </button>
                </section>
            </section>

        </section>
    </form>

    <footer>
        Mississippi State University | CSE 4214: Introduction to Software Engineering | Group 11 </br>
        <a href="mailto:cse.4212.group.11@gmail.com">cse.4212.group.11@gmail.com</a>
    </footer>
</body>