<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        Hand-in-Hand - find your Account
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body>
    {% if forgot_credential_invalid_field_value_status %}
    <section class="overlay">
        <section class="popup" style="background: red;">
            <h2>
                Credential Replacement Failed!
            </h2>
            <a class="close" href="/">&times;</a>
            <content>
                The provided credentials are <i>invalid</i> or are <i>not tied</i> to an existing user. Please try again.
            </content>
        </section>
    </section>
    {% endif %}

    <section class="default_access_heading"> 
        <h1 class="logo">
            <a href="/" style=" text-decoration:none;
                                color:teal;">Hand-in-Hand</a>
        </h1>
    </section>

    <form action="/account_retrival" method="post">
        <section class="default_panel">
            <section style="font-size: 30px;
                            color: white;
                            text-align: left;">
                Find Your Account
            </section> 

            <hr>
            
            <section style="color: white;font-size: 18px;text-align: left;">
                <br/> Please enter your <i>email</i> to search for your account. <br/> <br/>
            </section>

            <section class="forgot_credentials_forms" style="color: white;">
                Email: <input style="width: 78%;" type="email" required name="email" placeholder="Email" pattern=".{1,1024}" title="This field cannot be left blank."> <br/> <br/>

                <hr> </br>

                <section class="forgot_credentials_buttons">
                    <a class="cancel_button" href="/">Cancel</a>
                    <button class="search_button" type="submit">
                        Search
                    </button>
                </section>
            </section>
        </section>
    </form>

    <footer>
        Mississippi State University | CSE 4214: Introduction to Software Engineering | Group 11 </br>
        <a href="mailto:cse.4212.group.11@gmail.com">cse.4212.group.11@gmail.com</a>
    </footer>
</body>