<!DOCTYPE html>
<html>
    <head>
        <title> Hand-in-Hand </title>

        {% block header %}
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
        <body>
            <!-- Links to personal pages for the current user -->
            <div class="header">
                <form action="/home/timeline">
                    <input type="submit" value="Timeline">
                </form>
                <form action="/home/friends">
                    <input type="submit" value="Friends">
                </form>
                <form action="/home/account">
                    <input type="submit" value="Account">
                </form>
            </div>
        </body>
        {% endblock %}
    </head>
</html>