<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body>
    <!--Header-->
    <section class="header">
        <h3 id="web_application_name">
            Hand-in-Hand
        </h3>

    </section>
    <!--Navigation Bar-->
    <section class="navigation_bar">

    </section>
    <!--Footer-->
    {% endblock %}
    {% block content %}
</body>