<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        Hand-in-Hand - log in or create account
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

</head>

<body onload="display_flashes()">

    {% set ns = namespace(messages="") %}
    {% for message in get_flashed_messages() %}
        {% set ns.messages = ns.messages + message %}
    {% endfor %}

    <script>
        function display_flashes() {
            if ({{ ns.messages|tojson }}) { alert({{ ns.messages|tojson }}); }
        }
    </script>

    <img class="homepage_background_image" src="{{ url_for('static', filename='homepage_background_image.png') }}" />

    <section class="homepage_welcome_message">
        <h1 class="logo">
            Hand-in-Hand
        </h1>
        <h4 class="logo_catchphrase">
            With hands clasped, we cohabitate in close association. Connect <i>hand-in-hand</i> with friends near and abroad!
        </h4>
    </section>

    <section class="default_homepage_actions">

        <form method="post">
            {{ login_form.hidden_tag() }} 
            <section class="login_outer_container">
                <section class="login_username_form" placeholder="Username or Email"> 
                    {{ login_form.account_identifier(placeholder="Enter username or email") }} </br> </br>
                </section>
                <section class="login_password_form" placeholder="Password">
                    {{ login_form.password(placeholder="Enter password") }} </br> </br>
                </section>
            </section>
            <button class="login_submit_button" type="submit" name="submit">
                Log In
            </button>
        </form>
        
        </br> <a class="forgot_credentials_link" href="/forgot_credentials" style="text-decoration:none">Forgot password?</a> </br> </br>

        <hr> </br>

        <form action="/register">
            <button class="account_creation_button" type="submit">
                Create new account
            </button> </br>
        </form>

    </section>

    <footer>
        Mississippi State University | CSE 4214: Introduction to Software Engineering | Group 11 </br>
        <a href="mailto:cse.4212.group.11@gmail.com">cse.4212.group.11@gmail.com</a>
    </footer>
