<style> 
    .page_content { 
        color: white; 
        display: flex;
    }
    .friend_select {
        color: white;
        background-color: none;
        text-decoration: none;
    }
    .friend_sidebar {
        padding-left: 3vmin;
        padding-right: 3vmin;
        display: flex;
        flex-direction: column;
    }
</style>

{% extends 'account.html' %}
{% block account_body %}
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br> <br> <br>

<div class="page_content">
    <div class="friend_sidebar">
        {% for friend in friends %}
            <a class="friend_select" href="{{ url_for('chat_log', username = friend.username) }}">
                {{ friend.username }}
            </a>
        {% endfor %}
    </div>

    {% block chat_log %}{% endblock %}
</div>

{% endblock %}