<!--The intended view for all pages is "full screen." Squishing the window or tab will disorient the webpage. You have been warned.-->
<!DOCTYPE html>
<html>

    <head>
        <title> Hand-in-Hand </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    </head>

    <header class="top_navigation_bar" style=  "display: block;
                                                border-style: none;
                                                background-color: grey;
                                                box-shadow: 2px 2px 4px #3d3c36;
                                                left: 0%;
                                                top: 0%;
                                                position: fixed;
                                                min-width: 100%;
                                                height: 4%;
                                                margin: 0 auto;
                                                padding: 10px;
                                                z-index: +2;">

        <section class="web_site_logo" style=  "color: teal;
                                                font-family: Open Sans;
                                                font-size: 28px;
                                                letter-spacing: -2px;">
                                                
            <section style="left: 5%;
                            position: absolute;
                            top: 12%;"
                                                title="Website Domain Name">
                            <b>Hand-in-Hand</b>
            </section>

            <a href="/home/">
                <img class="logo_emblem" src="{{ url_for('static', filename='Hand-in-Hand_icon.png') }}" style="width: 48px;
                                                                                            height: 48px;
                                                                                            left: 1%;
                                                                                            top: 1%;
                                                                                            position: absolute;"
                                                                                                                    title="Home">
            </a>
            
            <form action="/home/search" method="post">

                <section id="search_bar">
                    <input type="text" name="search_bar_input" placeholder="Search Hand-in-Hand" style="border-style: none;
                                                                                                        background-color: #3d3c36a4;
                                                                                                        border-radius: 50px;
                                                                                                        z-index: +1;
                                                                                                        left: 25%;
                                                                                                        position: absolute;
                                                                                                        top: 7%;
                                                                                                        width: 48%;
                                                                                                        padding-left: 45px;
                                                                                                        padding-block: 12px;"
                                                                                                                                        title="Search Bar" onlick="submit" pattern=".{1,1024}">
                    <input type="submit" style="display: none" />
                    <img src="/static/search_icon.png" width="24px" height="24px" style=   "left: 26%;
                                                                                            position: absolute;
                                                                                            top: 25%;
                                                                                            z-index: +2;
                                                                                            ">
                </section>

            </form>

            {% block user_account_image %}
                <a href='/home/account'>
                    <img class="user_account_image" src="/static/default_user_account_icon.png" width="48px"  title="User Account">
                </a>
            {% endblock %}

            <a href="/home/notifications">
                <img class="notification_image" src="/static/notification_icon.png" width="40px"  title="Notifications">
            </a>

        </section>

    </header>

    <header class="left_navigation_bar" style= "left:0; 
                                                top: 6%; 
                                                bottom: 0;
                                                width: 2.5%;
                                                display: block;
                                                border-style: none;
                                                background-color: grey;
                                                box-shadow: 2px 2px 4px #3d3c36;
                                                position: fixed;
                                                min-height: 100%;
                                                margin: 0 auto;
                                                padding: 10px;
                                                z-index: +1;">
        <a href="/home/">
            <img class="homepage_image" src="/static/home_icon.png" width="48px"  title="Home">
        </a>


        <section class="dropdown_menu">
            <button class="dropdown_menu_button">
                <img class="menu_image" src="/static/menu_icon.png" width="48px"  title="Menu">
            </button>
            <br/><br/><br/><br/>
            <section class="dropdown_menu_content">
                <a href="/home/friends" style="text-decoration: none;">
                    <img class="timeline_image" src="/static/friends_icon.png" width="48px"  title="Friends">
                </a>
                <a href="/home/timeline" style="text-decoration: none;">
                    <img class="timeline_image" src="/static/timeline_icon.png" width="48px"  title="Timeline">
                </a>
                <a href="/home/settings" style="text-decoration: none;">
                    <img class="settings_image" src="/static/setting_icon.png" width="48px"  title="Settings">
                </a>
                <a href="/logout" style="text-decoration: none;">
                    <img class="logout_image" src="/static/logout_icon.png" width="48px"  title="Logout">
                </a>
            </section>
        </section>
        
    </header>

    <section id="overlay" style=   "position: fixed;
                                                    display: none;
                                                    width: 100%;
                                                    height: 100%;
                                                    top: 0;
                                                    left: 0;
                                                    right: 0;
                                                    bottom: 0;
                                                    background-color: rgba(0,0,0,0.6);
                                                    z-index: +6;
                                                    cursor: pointer;">
        <section class="create_post_container">

            <section style="text-align: center;
                            font-weight: bolder;
                            font-size: large;">
                Create Status

                <br/> <hr>
            </section>

            <form class="submit_post" name="submit_post" id="submit_post" action="/home/timeline/submit_post" method="post" enctype="multipart/form-data">
                <!--Source: https://stackoverflow.com/questions/40887210/how-to-change-choose-file-or-browse-button-text-and-no-file-selected-text-->
                <section class="file">
                    <label for="file-input">
                        <img class="photo_icon" src="/static/photo_icon.png" title="Add Media" width="40px" height="40px">
                    </label>

                    <input type="file" onchange="previewFile();" class="file-input" name="media" id="media" accept="image/*, video/*">

                    <section class="file_preview">
                        <img class="file_preview_img" src="">
                        <video class="file_preview_vid" src=""></video>
                    </section>
                </section>

                <!--Source: https://stackoverflow.com/questions/16500848/how-to-generate-a-thumbnail-image-after-adding-an-image-inside-an-input-type-fi-->
                <script>
                    function previewFile() 
                    {
                        var preview_img = document.querySelector('.file_preview_img');
                        var preview_vid = document.querySelector('.file_preview_vid');
                        var file    = document.querySelector('input[type=file]').files[0];
                        var reader  = new FileReader();

                        reader.onloadend = function () 
                        {
                            preview_img.src = reader.result;
                            preview_vid.src = reader.result;
                        }

                        if (file) 
                        {
                            reader.readAsDataURL(file);
                        } 
                        else 
                        {
                            preview_img.src = "";
                            preview_vid.src = "";
                        }
                    }
                </script>
            </form>

            <textarea rows="12" cols="72" wrap="soft" style=   "position: absolute;
                                                                overflow: auto;
                                                                resize: none;
                                                                background-color: rgb(206, 206, 206);
                                                                text-decoration: none;"
                                                                                            placeholder="What's on your mind?" form="submit_post" oninput="count_chars()" title="Status Content" name="post_text" id="post_text_box"></textarea> <br/>
            
            

            <section class="char_counter" id="char_counter">
                0 / 1024
            </section>

            <script>
                // Check the post and submit if valid
                function verify_post() 
                {
                    document.getElementById("post_text_box").click()
                    let text = document.getElementById("post_text_box").value;
                    let num_chars = text.length;
                    if (num_chars == 0 || num_chars > 1024) {
                        alert("Invalid number of characters in post");
                        return;
                    }
                    else if ((text.match(/\n/g) || []).length > 10) {
                        alert("Too many line breaks in post");
                        return;
                    }
                    else if (text && !text.trim()) {
                        alert("Post must contain more than whitespace");
                        return;
                    }

                    document.forms["submit_post"].submit();
                }
            </script>

            <script type="text/javascript">
                // Display the number of characters used in the post
                function count_chars() {
                    let text = document.getElementById("post_text_box").value;
                    let num_chars = text.length;
        
                    document.getElementById("char_counter").innerHTML = num_chars + " / 1024";
        
                    if (num_chars > 0 && num_chars <= 1024) {
                        document.getElementById("post_submit_button").style.backgroundColor = "#008080";
                    }
                    else {
                        document.getElementById("post_submit_button").style.backgroundColor = "#00808080";
                    }
                }
            </script>
                                                                                            
            <section class="close_button" onclick="off()" title="Cancel Status">
                &times;
            </section title="Attach video or images">
                                                                                                                            <section class="add_attribute_message">
                Add to your post
            </section>
            
            <section class="create_post_container_submit_button">
                <input type="submit" class="post_submit_button" style="left: 45%;
                                                                        bottom: 0%;
                                                                        position: absolute;" 
                                                                                                value="Post" id="post_submit_button" name="post_submit_button" title="Submit Status" onclick="verify_post()">
            </section>

        </section>

    </section>
    
    <img class="create_post_image" src="/static/create_post_icon.png" title="New Status" onclick="on()">

    <script>
        function on() {
          document.getElementById("overlay").style.display = "block";
        }
        
        function off() {
          document.getElementById("overlay").style.display = "none";
        }
    </script>

        <body style=   "padding: 4%;
                        width: fit-content;
                        height: auto;">
            {% block body %}

            {% endblock %}
        </body>
</html>