<!--The intended view for all pages is "full screen."" Squishing the window or tab will disorient the webpage. You have been warned.-->
<!DOCTYPE html>
<html>

    <head>
        <title> Hand-in-Hand </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    </head>

    <header class="top_navigation_bar" style=  "display: block;
                                                border-style: none;
                                                background-color: grey;
                                                box-shadow: 2px 2px 4px #3d3c36;
                                                left: 0%;
                                                top: 0%;
                                                position: fixed;
                                                min-width: 100%;
                                                height: 4%;
                                                margin: 0 auto;
                                                padding: 10px;
                                                z-index: +2;">

        <section class="web_site_logo" style=  "color: teal;
                                                font-family: Open Sans;
                                                font-size: 28px;
                                                letter-spacing: -2px;">
                                                
            <section style="left: 5%;
                            position: absolute;
                            top: 12%;"
                                                title="Website Domain Name">
                            <b>Hand-in-Hand</b>
            </section>

            <a href="/homepage">
                <img src="{{ url_for('static', filename='Hand-in-Hand_icon.png') }}" style="width: 48px;
                                                                                            height: 48px;
                                                                                            left: 1%;
                                                                                            top: 1%;
                                                                                            position: absolute;"
                                                                                                                    title="Logo">
            </a>
            
            <form action="/search" method="post">

                <section id="search_bar">
                    <input type="text" name="search_bar_input" placeholder="Search Hand-in-Hand" style="border-style: none;
                                                                                                        background-color: #3d3c36a4;
                                                                                                        border-radius: 50px;
                                                                                                        z-index: +1;
                                                                                                        left: 25%;
                                                                                                        position: absolute;
                                                                                                        top: 7%;
                                                                                                        width: 41%;
                                                                                                        padding-left: 45px;"
                                                                                                                                        title="Search Bar" onlick="submit" pattern=".{1,1024}">
                    <input type="submit" style="display: none" />
                    <img src="/static/search_icon.png" width="24px" height="24px" style=   "left: 26%;
                                                                                            position: absolute;
                                                                                            top: 25%;
                                                                                            z-index: +2;
                                                                                            ">
                </section>

            </form>

            {% block user_account_image %}
                <a href="/user_account">
                    <img class="user_account_image" src="/static/default_user_account_icon.png" width="48px" height="48px" title="User Account">
                </a>
            {% endblock %}

            <a href="/notifications">
                <img class="notification_image" src="/static/notification_icon.png" width="48px" height="48px" title="Notifications">
            </a>

        </section>

    </header>

    <header class="left_navigation_bar" style= "left:0; 
                                                top: 6%; 
                                                bottom: 0;
                                                width: 2.5%;
                                                display: block;
                                                border-style: none;
                                                background-color: grey;
                                                box-shadow: 2px 2px 4px #3d3c36;
                                                position: fixed;
                                                min-height: 100%;
                                                margin: 0 auto;
                                                padding: 10px;
                                                z-index: +1;">
        <a href="/homepage">
            <img class="homepage_image" src="/static/home_icon.png" width="48px" height="48px" title="Homepage">
        </a>


        <section class="dropdown_menu">
            <button class="dropdown_menu_button">
                <img class="menu_image" src="/static/menu_icon.png" width="48px" height="48px" title="Menu">
            </button>
            <br/><br/><br/><br/>
            <section class="dropdown_menu_content">
                <a href="/friends" style="text-decoration: none;">
                    <img class="timeline_image" src="/static/friends_icon.png" width="48px" height="48px" title="Friends">
                </a>
                <a href="/timeline" style="text-decoration: none;">
                    <img class="timeline_image" src="/static/timeline_icon.png" width="48px" height="48px" title="Timeline">
                </a>
                <a href="/settings" style="text-decoration: none;">
                    <img class="settings_image" src="/static/setting_icon.png" width="48px" height="48px" title="Settings">
                </a>
                <a href="/logout" style="text-decoration: none;">
                    <img class="logout_image" src="/static/logout_icon.png" width="48px" height="48px" title="Logout">
                </a>
            </section>
        </section>
        
    </header>

    <a href="/create_status">
        <img class="create_post_image" src="/static/create_post_icon.png" title="New Status">
        <section class="new_status_button" title="New Status">
        </section>
    </a>

        <body style=   "padding: 4%;
                        width: fit-content;
                        height: auto;">
            {% block body %}

            {% endblock %}
        </body>
</html>