<!doctype html>
<html lang="en"></html>
<head>

    <meta charset="utf-8"/>

    <title>
        Hand-in-Hand - create account
    </title>

    <style>
        .sign_up > .first_name { width: 95%; }
        .sign_up > .middle_name { width: 95%; }
        .sign_up > .last_name { width: 95%; }
        .sign_up > .username { width: 95%; }
        .sign_up > .email { width: 95%; }
        .sign_up > .password { width: 95%; }
        .sign_up > .password_confirmation { width: 95%; }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>

<body onload="display_errors()">

    {% set ns = namespace(errors="") %}
    <!-- Get errors in registration form -->
    {% for field in register_form.errors %}
        {% for error in register_form.errors[field] %}
            {% set ns.errors = ns.errors + error + '\n' %}
        {% endfor %}
    {% endfor %}
    <!-- Display errors in registration form -->
    <script>
        function display_errors() {
            if ({{ ns.errors|tojson }}) { alert({{ ns.errors|tojson }}); }
        }
    </script>

    <section class="default_access_heading"> 
        <h1 class="logo_interactive">
            <a href="/" style=" text-decoration:none;
                                color:teal;">Hand-in-Hand</a>
        </h1>
    </section>

    <form method="post">
        <section class="default_panel">
            <section style="font-size: 30px;
                            color: white;
                            text-align: center;">
                Sign Up
            </section> 

            <hr>
            <section style="color: white; text-align: left;">
                Fields marked with an <label style="color: teal;">*</label> are required
            </section>
            
            <section class="sign_up" style="text-align: start; color: white;">
                {{ register_form.hidden_tag() }}
                First Name: <label style="color: teal;">*</label> <br> {{ register_form.first_name(class_="first_name") }} <br>
                Middle Name: <br> {{ register_form.middle_name(class_="middle_name") }} <br>
                Last Name: <label style="color: teal;">*</label> <br> {{ register_form.last_name(class_="last_name") }} <br>
                Username: <label style="color: teal;">*</label> <br> {{ register_form.username(class_="username") }} <br>
                Email: <label style="color: teal;">*</label> <br> {{ register_form.email(class_="email") }} <br>
                Password: <label style="color: teal;">*</label> <br> {{ register_form.password(class_="password") }} <br>
                Password Confirmation: <label style="color: teal;">*</label> <br> {{ register_form.password_confirmation(class_="password_confirmation")}} <br>

                </br>
                <section style="text-align: center;">
                    {{ register_form.submit(class_="sign_up_button") }}
                </section>
            </section>

        </section>
    </form>

    <footer>
        Mississippi State University | CSE 4214: Introduction to Software Engineering | Group 11 </br>
        <a href="mailto:cse.4212.group.11@gmail.com">cse.4212.group.11@gmail.com</a>
    </footer>


</body>