<style>
    .settings_container
    {
        border: none;
        border-radius: 10px;;
        background-color: #acacac;
        position: absolute;
        top: 58vh;
        left: 14vw;
        width: 75vw;
        min-height: 30vh;
        padding: 10px;
        overflow: auto;
        word-break: break-all;
    }
    .settings_account_button, .settings_account_button:visited, .settings_account_button:hover, .settings_account_button:active
    {
        border-bottom: 2px solid #00A3AD;
        padding-bottom: 10px;
    }
    .account_about_field
    {
        background: transparent;
        border-width: 2px;
        border-style: inset;
        border-radius: 10px;
        overflow: hidden;
        display:inline-block;
        min-height: 5vw;
        min-width: 20vw;
        resize: none;
        padding: 10px;
    }
    .setting_headers
    {
        font-weight: bold;
        color:#00A3AD;
        text-align: center;
        font-size: 30px;
    }
    .setting_submit_button
    {
        border: none;
        border-radius: 10px;
        font-weight: bold;
        color: white;
        font-size: 30px;
        padding: 10px;
        background: #00A3AD;
    }
    .setting_submit_button:hover
    {
        filter: brightness(50%);
    }
    .attachment_preview
    {
        background: rgba(0, 128, 128, 0.50);
        padding: 20px;
        border-radius: 5px;
    }
</style>

<!--Code block that enables flashes-->
{% set ns = namespace(messages="") %}
{% for message in get_flashed_messages() %}
    <!-- Only get one message -->
    {% if ns.messages == "" %} 
        {% set ns.messages = ns.messages + message %}
    {% endif %}
{% endfor %}
<script>
    function display_flashes() {
        if ({{ ns.messages|tojson }}) { alert({{ ns.messages|tojson }}); }
    }
    display_flashes();
</script>

{% extends 'account.html' %}
{% block account_body %}
    <div class="settings_container">

        <div class="setting_headers" style="color:white; background: rgba(0, 128, 128, 0.50); padding: 20px; margin: 20px; border-radius: 5px;">
            Editing Profile
        </div>


        <form action='/home/account/settings/editing' class="account_editing_form" id="account_editing_form" name="account_editing_form" method="post" enctype="multipart/form-data" style="background: rgba(255, 255, 255, 0.5); padding: 20px; margin: 20px; border-radius: 5px;">

            <div class="setting_headers">
                <img src="/static/edit_icon.png" width="30px" title="Edit post"> Profile Picture
            </div>
            <div style="text-align: center; padding: 10px;">
                <input type="file" onchange="profile_picture_attachment_previewFile();" accept="image/*" name="profile_picture" id="profile_picture" form="account_editing_form" title="Profile Picture" style="display:none;">
                <label for="profile_picture">
                    <img class="photo_icon" src="/static/photo_icon.png" title="Add Media" width="40px" height="40px">
                </label>

                <br> <br>

                {% if user.profile_picture %}
                <section class="attachment_preview">
                    <img id="profile_picture_attachment_preview_img" src="/static/uploads/{{ user.profile_picture }}" style="height: 70px; left: 5vw; position: relative;">
                    <video id="profile_picture_attachment_preview_vid" src="/static/uploads/{{ user.profile_picture }}" style="height: 70px; left: 5vw; position: relative;"></video>
                </section>
                {% else %}
                <section class="attachment_preview">
                    <img id="profile_picture_attachment_preview_img" src="" style="height: 70px; left: 5vw; position: relative;">
                    <video id="profile_picture_attachment_preview_vid" src="" style="height: 70px; left: 5vw; position: relative;"></video>
                </section>
                {% endif %}
            </div>
            <hr style="overflow-x: fit; width: 120vh; color: #777777 noshade; background-color: #777777; height: 1px;">


            <div class="setting_headers">
                <img src="/static/edit_icon.png" width="30px" title="Edit post"> Profile Background Banner Image
            </div>
            <div style="text-align: center; padding: 10px;">
                <input type="file" onchange="background_banner_image_attachment_previewFile();" accept="image/*" name="background_banner_image" id="background_banner_image" form="account_editing_form" title="Background Banner Image" style="display:none;">
                <label for="background_banner_image">
                    <img class="photo_icon" src="/static/photo_icon.png" title="Add Media" width="40px" height="40px">
                </label>

                <br> <br>

                {% if user.background_banner_image %}
                <section class="attachment_preview">
                    <img id="background_banner_image_attachment_preview_img" src="/static/uploads/{{ user.background_banner_image }}" style="height: 70px; left: 5vw; position: relative;">
                    <video id="background_banner_image_attachment_preview_vid" src="/static/uploads/{{ user.background_banner_image }}" style="height: 70px; left: 5vw; position: relative;"></video>
                </section>
                {% else %}
                <section class="attachment_preview">
                    <img id="background_banner_image_attachment_preview_img" src="" style="height: 70px; left: 5vw; position: relative;">
                    <video id="background_banner_image_attachment_preview_vid" src="" style="height: 70px; left: 5vw; position: relative;"></video>
                </section>
                {% endif %}
            </div>
            <hr style="overflow-x: fit; width: 120vh; color: #777777 noshade; background-color: #777777; height: 1px;">


            <div class="setting_headers">
                <img src="/static/edit_icon.png" width="30px" title="Edit post"> Description
            </div>

            <br> <br> 

            <div style="text-align: center; padding: 10px; background: rgba(0, 128, 128, 0.50); padding: 20px; border-radius: 5px;" >
                <textarea id="description_prompt" oninput="auto_grow(this), description_prompt_count_chars();" class="account_about_field" name="user_description" form="account_editing_form" form="account_editing_form" title="User Description">{{ user.user_description }}</textarea>
                <section class="char_counter_description" id="char_counter_description" onload="description_prompt_count_chars();">
                    0 / 1024
                </section>
            </div>
            <hr style="overflow-x: fit; width: 120vh; color: #777777 noshade; background-color: #777777; height: 1px;">


            <div class="setting_headers">
                <img src="/static/edit_icon.png" width="30px" title="Edit post"> Objective
            </div>

            <br> <br>

            <div style="text-align: center; padding: 10px; background: rgba(0, 128, 128, 0.50); padding: 20px; border-radius: 5px;">
                <textarea id="objective_prompt" oninput="auto_grow(this), objective_prompt_count_chars();" class="account_about_field" name="objective" form="account_editing_form" title="Objective">{{  user.objective }}</textarea>
                <section class="char_counter_objective" id="char_counter_objective" onload="objective_prompt_count_chars();">
                    0 / 1024
                </section>
            </div>
            <hr style="overflow-x: fit; width: 120vh; color: #777777 noshade; background-color: #777777; height: 1px;">


            <div class="setting_headers">
                <img src="/static/edit_icon.png" width="30px" title="Edit post"> Phone Number
            </div>
            
            <br> <br>

            <div style="text-align: center; padding: 10px; background: rgba(0, 128, 128, 0.50); padding: 20px; border-radius: 5px;">
                <textarea id="phone_number_prompt" oninput="auto_grow(this), phone_number_prompt_count_chars();" class="account_about_field" name="phone_number" form="account_editing_form" title="Phone Number">{{  user.phone_number }}</textarea>
                <section class="char_counter_phone_nuumber" id="char_counter_phone_nuumber" onload="phone_number_prompt_count_chars();">
                    0 / 1024
                </section>
            </div>


            <div style="text-align: center; padding: 10px;">
                <input id="account_edit_submit_button"type="submit" name="Submit" class="setting_submit_button" title="Submit" onclick="phone_number_prompt_verify_post(), objective_prompt_verify_post(), description_prompt_verify_post();">
            </div>

        </form>

        <script>
            // Source: https://stackoverflow.com/questions/17772260/textarea-auto-height
            function auto_grow(element) 
            {
                element.style.height = "5px";
                element.style.height = (element.scrollHeight)+"px";
            }
        </script>

        <script type="text/javascript">
            // Display the number of characters used in the post
            function phone_number_prompt_count_chars() {
                let text = document.getElementById("phone_number_prompt").value;
                let num_chars = text.length;

                document.getElementById("char_counter_phone_nuumber").innerHTML = num_chars + " / 1024";

                if (num_chars > 0 && num_chars <= 1024) {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#008080";
                }
                else {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#00808080";
                }
            }
        </script>

        <script>
            // Check the post and submit if valid
            function phone_number_prompt_verify_post() 
            {
                document.getElementById("phone_number_prompt").click()
                let text = document.getElementById("phone_number_prompt").value;
                let num_chars = text.length;
                if (num_chars == 0 || num_chars > 1024) {
                    alert("Invalid number of characters in post");
                    return;
                }
                else if ((text.match(/\n/g) || []).length > 10) {
                    alert("Too many line breaks in post");
                    return;
                }
                else if (text && !text.trim()) {
                    alert("Post must contain more than whitespace");
                    return;
                }
            }
        </script>

        <script type="text/javascript">
            // Display the number of characters used in the post
            function objective_prompt_count_chars() {
                let text = document.getElementById("objective_prompt").value;
                let num_chars = text.length;

                document.getElementById("char_counter_objective").innerHTML = num_chars + " / 1024";

                if (num_chars > 0 && num_chars <= 1024) {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#008080";
                }
                else {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#00808080";
                }
            }
        </script>

        <script>
            // Check the post and submit if valid
            function objective_prompt_verify_post() 
            {
                document.getElementById("objective_prompt").click()
                let text = document.getElementById("objective_prompt").value;
                let num_chars = text.length;
                if (num_chars == 0 || num_chars > 1024) {
                    alert("Invalid number of characters in post");
                    return;
                }
                else if ((text.match(/\n/g) || []).length > 10) {
                    alert("Too many line breaks in post");
                    return;
                }
                else if (text && !text.trim()) {
                    alert("Post must contain more than whitespace");
                    return;
                }
            }
        </script>

        <script type="text/javascript">
            // Display the number of characters used in the post
            function description_prompt_count_chars() {
                let text = document.getElementById("description_prompt").value;
                let num_chars = text.length;

                document.getElementById("char_counter_description").innerHTML = num_chars + " / 1024";

                if (num_chars > 0 && num_chars <= 1024) {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#008080";
                }
                else {
                    document.getElementById("account_edit_submit_button").style.backgroundColor = "#00808080";
                }
            }
        </script>

        <script>
            // Check the post and submit if valid
            function description_prompt_verify_post() 
            {
                document.getElementById("description_prompt").click()
                let text = document.getElementById("description_prompt").value;
                let num_chars = text.length;
                if (num_chars == 0 || num_chars > 1024) {
                    alert("Invalid number of characters in post");
                    return;
                }
                else if ((text.match(/\n/g) || []).length > 10) {
                    alert("Too many line breaks in post");
                    return;
                }
                else if (text && !text.trim()) {
                    alert("Post must contain more than whitespace");
                    return;
                }
            }
        </script>

        <script>
            window.onload = function(){
                description_prompt_count_chars()
                objective_prompt_count_chars()
                phone_number_prompt_count_chars()
            }
        </script>

        <!--Source: https://stackoverflow.com/questions/16500848/how-to-generate-a-thumbnail-image-after-adding-an-image-inside-an-input-type-fi-->
        <script>
            function profile_picture_attachment_previewFile() 
            {
                var preview_img = document.getElementById('profile_picture_attachment_preview_img');
                var preview_vid = document.getElementById('profile_picture_attachment_preview_vid');
                var file    = document.getElementById('profile_picture').files[0];
                var reader  = new FileReader();

                reader.onloadend = function () 
                {
                    preview_img.src = reader.result;
                    preview_vid.src = reader.result;
                }

                if (file) 
                {
                    reader.readAsDataURL(file);
                } 
                else 
                {
                    preview_img.src = "";
                    preview_vid.src = "";
                }
            }
        </script>

        <!--Source: https://stackoverflow.com/questions/16500848/how-to-generate-a-thumbnail-image-after-adding-an-image-inside-an-input-type-fi-->
        <script>
            function background_banner_image_attachment_previewFile() 
            {
                var preview_img = document.getElementById('background_banner_image_attachment_preview_img');
                var preview_vid = document.getElementById('background_banner_image_attachment_preview_vid');
                var file    = document.getElementById('background_banner_image').files[0];
                var reader  = new FileReader();

                reader.onloadend = function () 
                {
                    preview_img.src = reader.result;
                    preview_vid.src = reader.result;
                }

                if (file) 
                {
                    reader.readAsDataURL(file);
                } 
                else 
                {
                    preview_img.src = "";
                    preview_vid.src = "";
                }
            }
        </script>

    </div>
{% endblock %}