<style> .page_content { color: white; } </style>

{% extends 'account.html' %}
{% block account_body %}
<div class="page_content">
    <!-- Remove these line breaks and modify as needed -->
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br>

    <div id="friends">
        {% if friends %} Friends {% endif %}

        {% for friend in friends %}
        <div class="friend">
            <div> {{ friend.username }} </div>
            <form action="{{ url_for('modify_relationship', username = friend.username) }}" method="POST">
                <input type="hidden" name="new_relationship_type" value="NO_RELATIONSHIP">
                <input type="submit" value="Remove friend">
            </form>
        </div>
        {% endfor %}
    </div>

    <div id="sent_requests"> 
        {% if sent_requests %} Sent friend requests {% endif %}

        {% for receiver in sent_requests %}
        <div class="receiver">
            <div> {{ receiver.username }} </div>
            <form action="{{ url_for('modify_relationship', username = receiver.username) }}" method="POST">
                <input type="hidden" name="new_relationship_type" value="NO_RELATIONSHIP">
                <input type="submit" value="Cancel friend request">
            </form>
        </div>
        {% endfor %}
    </div>

    <div id="received_requests">
        {% if received_requests %} Received friend requests {% endif %}

        {% for sender in received_requests %}
        <div class="sender">
            <div> {{ sender.username }} </div>
            <form action="{{ url_for('modify_relationship', username = sender.username) }}" method="POST">
                <input type="hidden" name="new_relationship_type" value="SENT_REQUEST">
                <input type="submit" value="Accept">
            </form>
            <form action="{{ url_for('modify_relationship', username = sender.username) }}" method="POST">
                <input type="hidden" name="new_relationship_type" value="NO_RELATIONSHIP">
                <input type="submit" value="Reject">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}