body
{
    font-family: Open Sans;
    background-color: #800000;
}
.homepage_background_image
{
    position: absolute;
    height: 767px;
    width: 685px;
    right: 0%;
    top: 0%;
}

.logo
{
    color: teal;
    font-family: Open Sans;
    font-size: 50px;
}
.logo_catchphrase
{
    font-family: Calibri;
    font-size: 24px;
    font-weight: normal;
}
.homepage_welcome_message
{
    text-align: left;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
}

input[type=text]
{
    border-radius: 5px;
    color: white;
    background-color: #80000033;
    border-style: inset;
    font-size: 17px;
    padding: 12px 20px;
    width: 90%;
}
input[type=password]
{
    border-radius: 5px;
    color: white;
    background-color: #80000033;
    border-style: inset;
    font-size: 17px;
    padding: 12px 20px;
    width: 90%;
}
.login_submit_button
{
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 800;
    font-size: 17px;
    padding: 12px 20px;
    width: 100%;
}
.account_creation_button
{
    border-radius: 5px;
    border: none;
    background-color: rgb(19, 66, 254);
    color: white;
    font-weight: 800;
    font-size: 15px;
    padding: 12px 20px;
    width: 60%;
}
.forget_password_link
{
    color: rgb(39, 170, 39);
}
.default_homepage_actions
{
    text-align: center;
    font-family: Calibri;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 30%;
    overflow: auto;
    border-style: hidden;
    border-radius: 5px;
    background-color: #300E14;
    box-shadow: 5px 5px 5px #18070a;
    padding: 20px;
}

body
{
    width: 100%;
}

footer
{
    text-align: center;
    padding: 20px;
    background: grey;
    color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: inline;
    left: 0%;
}

.default_access_heading
{
    position: absolute;
    top: 0%;
    text-align: center;
    width: 100%;
}
.default_panel
{
    text-align: center;
    font-family: Calibri;
    position: absolute;
    top: 15%;
    width: 30%;
    overflow: auto;
    border-style: hidden;
    border-radius: 5px;
    background-color: #300E14;
    box-shadow: 5px 5px 5px #18070a;
    padding: 20px;
    left:34%;
}

.sign_up
{
    text-align: center;
    columns: 30%;
}
.sign_up_button
{
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 800;
    font-size: 17px;
    padding: 12px 20px;
    width: 50%;
}

::placeholder
{
    font-size: 15px;
}